separator {
    color: inherit;
}

separator.highlighted {
    color: #d65307;
}

/*separator.category_sep {
     TODO:
}*/

nav_button {
    margin: 5px;
    background-color: #232323;
    box-shadow: #232323 0 0 0 8px;
    border-radius: 1px;
}

nav_button:active {
    margin: 5px;
    background-color: #272727;
    box-shadow: #272727 0 0 0 8px;
    border-radius: 1px;
}

nav_button.selected {
    color: #d65307;
} 

label.headline {
    font-size: 2em;
    font-weight: 1000;
    margin: 10px;
}

label.tile_headline {
    font-size: 1.5em;
    font-weight: 1000;
    margin: 10px;
}

label.deactivated {
    color: #808080;
}

tile {
    border-radius: 20px;
    margin: 10px;
    background-color: #212121;
}

*.tile_child {
    margin: 20px;
}

navbar_buttons_box {
    margin: 15px;
}

main_window {
    background: #1e1e1e;
}

/* color background of selected item in drop down menu */
row.selected {
    background-color: #d65307;
}

/* color switches background to orange if they are active*/
switch:checked {
    background-color: #d65307;
}

tile_button {
    margin: 4px;
    background-color: #212121;
    box-shadow: #212121 0 0 0 8px;
    border-radius: 1px;
}

tile_button:active {
    margin: 4px;
    background-color: #232323;
    box-shadow: #232323 0 0 0 8px;
    border-radius: 1px;
}

button.toggle.text-button:checked {
    background-color: #d65307;
}

scale highlight {
    background-color: #d65307;
}

table_entry {
    margin: 10px;   
}

table_header {
    background-color: #323232;
    border-radius: 15px;
}
