window.dialog {
    background-color: #212121;
}

window.dialog * {
    margin: 25px;
}

separator {
    color: inherit;
}

separator.highlighted {
    color: #d65307;
}

/*separator.category_sep {
     TODO:
}*/

nav_button {
    margin: 5px;
    background-color: inherit;
    box-shadow: #232323 0 0 0 8px;
    border-radius: 1px;
}

nav_button:hover {
    background-color: #272727;
    box-shadow: #272727 0 0 0 8px;
}

nav_button:active {
    background-color: #2B2B2B;
    box-shadow: #2B2B2B 0 0 0 8px;
}

nav_button.selected {
    color: #d65307;
}

label.headline {
    font-size: 2em;
    font-weight: 1000;
    margin: 10px;
}

label.tile_headline {
    font-size: 1.5em;
    font-weight: 1000;
    margin: 10px;
}

label.deactivated {
    color: #808080;
}

tile {
    border-radius: 20px;
    margin: 10px;
    background-color: #212121;
}

*.tile_child {
    margin: 20px;
}

navbar_buttons_box {
    background-color: #232323;
    box-shadow: #232323 0 0 0 15px;
    margin: 15px;
}

main_window {
    background: #1e1e1e;
}

/* color background of selected item in drop down menu */
row.selected {
    background-color: #d65307;
}

/* color switches background to orange if they are active*/
switch:checked {
    background-color: #d65307;
}

tile_button {
    margin: 4px;
    background-color: #212121;
    box-shadow: #212121 0 0 0 8px;
    border-radius: 1px;
}

tile_button:hover {
    background-color: #252525;
    box-shadow: #252525 0 0 0 8px;
}

tile_button:active {
    background-color: #292929;
    box-shadow: #292929 0 0 0 8px;
}

button.toggle.text-button:checked {
    background-color: #d65307;
}

scale highlight {
    background-color: #d65307;
}

table_entry {
    margin: 10px;
}

table_header {
    background-color: #323232;
    border-radius: 15px;
}

button.elevated,
entry {
    background-color: #232323;
    margin: 5px;
    outline-color: #d65307;
}

button.elevated:hover,
button.elevated:focus,
entry:hover,
entry:focus {
    background-color: #272727;
}

entry.error {
    outline-color: red;
    color: red;
}

next_button,
highlighted_button {
    background-color: #d65307;
    color: black;
    border-radius: 10px;
}

next_button.action,
highlighted_button.action {
    margin: 5px;
}

next_button:hover,
highlighted_button:hover {
    background-color: #e65307;
}

next_button:active,
highlighted_button:active {
    background-color: #ff5307;
}

next_button label,
highlighted_button label {
    margin: 10px;
}

next_button {
    margin: 20px;
}

next_button:disabled {
    background-color: #252525;
    color: white;
}

time_selector {
    margin: 10px;
}

spinbutton.vertical {
    margin: 5px;
}

spinbutton>text {
    background-color: #d65307;
}

label.day-number:selected {
    background-color: #d65307;
}

textview {
    background-color: #232323;
    margin: 5px;
    outline-color: #d65307;
}

textview:hover,
textview:focus {
    background-color: #272727;
}

button,
arrow {
    background-color: #212121;
}

button:hover,
arrow:hover {
    background-color: #252525;
}

entry_button {
    background-color: #232323;
}

tab:checked {
    box-shadow: 0 -4px #d65307 inset;
}

tab:hover {
    background-color: #252525;
}

button.group_remove {
    background-color: inherit;
}

button.group_remove:hover {
    background-color: #292929;
}

button.group_remove:disabled {
    opacity: 0.3;
}

notebook stack {
    background-color: inherit;
}

list {
    background-color: inherit;
    margin-top: 5px;
}

list:drop(active) {
    box-shadow: none;
}

row.drag-hover-top {
    border-top: 1.5px solid #d65307;
}

row.drag-hover-bottom {
    border-bottom: 1.5px solid #d65307;
}

row:hover {
    background-color: #252525;
}

row button {
    background-color: inherit;
}

row button:hover {
    background-color: #292929;
}

team_selector_box,
player_name_box {
    margin: 25px;
}

row:selected {
    background-color: #d65307;
}
